# scala-cli
.scala-build

# Sbt
target
**/project/target
.bsp
.bloop

# Idea
.idea
*.iml
*.ipr
*.iws

# Emacs
*~
*#
.#*
.ensime
TAGS

# VS Code
.metals
.vscode/settings.json
.vscode/extensions.json
.cursor/
**/project/metals.sbt
.cursor
